body{
  width: 100vw;
  height: 2083px;
  background: #5def92;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;
}
#house{
  background: url("/Users/Tatsu/Downloads/pokesprites/poke-sprites.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;

  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: end;
  
}

header, footer{
  background: gray;
}

header{  
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
}

#list{
  text-align: center;
  background: gray;
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 3;
  text-transform: uppercase;
}

#list li {
  list-style-type: none;

}


footer {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 11;
  grid-row-end: end;
  text-align: center;
}
footer img{
  width: 100px;
}
  

.pokeId, .pokeId img{
  width: 300px;
}

#sprite-layer{
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
}

