body{
  height: 100%;
  background: #5def92;
}
#house{
  background: url("/Users/Tatsu/SEI/project-test/design.tutsplus-nbg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 900px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;
}
div{
  grid-column-start: 2;
  grid-row-start: 2;
}


header, footer{
  background: gray;
}

/* #sprite-layer{
  grid-column-start: 5;
  grid-row-start: 5;
  } */

  footer {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 11;
  }

  #list{

    background: gray;
    grid-column-start: 9;
    grid-column-end: 10.5;
    grid-row-start: 6;
    grid-row-end: 10;
    text-transform: uppercase;


  }